nav {
  display: flex !important;
  justify-content: space-between;
  background-color: white;

  position: fixed;
  bottom: 0;

  max-width: 414px;
  width: 100%;
  height: 56px;

  padding: 0;

  z-index: 999;
}

nav a {
  width: 96px;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav a.active {
  color: blue;
}
