/* circular progressbar styles */

.CircularProgressbar {
  width: 100%;
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  /* stroke: #3e98c7; */
  /* stroke-linecap: round; */
  -webkit-transition: stroke-dashoffset 0.5s ease 0s;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #dcdcdc;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}
