#okr {
  padding: 1rem 1rem 100px; /* bottom nav height */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-user {
  font-weight: 700;
  font-size: 24px;
}

.no-okr {
  height: 226px;
  padding: 1rem;
  color: #909090;
  background-color: #f8f8f8;
  border-radius: 10px;
  font-size: 18px;

  margin-top: 1rem;
}
